*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* для Safari */
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none !important;
}

/* --------------------------------------------------------------------------------------- */

.none {
  display: none !important;
}

.body-lock {
  overflow: hidden !important;
}

.user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
