body {
  height: 100vh;
  background: #073015;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .field {
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1vh;
    column-gap: 1vh;

    & > .field-unit {
      width: 24.25%;
      height: 50%;
      border: 2px solid #0b5122;
      background: #073015;
      border-radius: 1rem;
    }
  }
}
